In [1]:
import json
import numpy as np
import random
from tqdm import tqdm
import nltk
import pandas as pd
import re
import matplotlib.pyplot as plt
import sklearn

In [2]:
import jsonlines

In [3]:
df=pd.DataFrame(columns={"id":"","same":""},index=[0])

In [4]:
#f = 'data/pan20-authorship-verification-training-small.jsonl'
i = 0
with open("data/pan20-authorship-verification-training-small-truth.jsonl", "r+", encoding="utf8") as f:
    for item in jsonlines.Reader(f):
        df.loc[i] = [item['id'],int(item['same'])]
        i += 1

In [5]:
df

                                         id same
0      6cced668-6e51-5212-873c-717f2bc91ce6    1
1      3c6c188a-db28-59aa-8c09-3d0f799ff579    1
2      b0cfa94f-c9ec-5aa5-8331-a5a249b664cf    1
3      e6e86e73-9a7b-58f2-a652-a17b4a1bcabf    1
4      4fe541af-912e-5a86-81a5-94c6d3891509    1
...                                     ...  ...
52596  3926a1bd-6d33-5513-a694-12d7590443d4    0
52597  17227d87-a3cb-5aca-b5fd-bb642e88b030    0
52598  0332dcaa-7230-508b-badb-820f9d8eebaa    0
52599  f5e4884a-13fd-51fb-a880-053d6655d59a    0
52600  900c4a19-e22b-59fd-9cc7-8490919b1696    0

[52601 rows x 2 columns]

In [7]:
df.to_csv('info_truth.csv', sep=',', header=True, index=False)

In [8]:
df=pd.DataFrame(columns={"id":"","fandom1":"","fandom2":"","pair1":"","pair2":""},index=[0])

In [11]:
#f = 'data/pan20-authorship-verification-training-small.jsonl'
i = 0
with open("data/pan20-authorship-verification-training-small.jsonl", "r+", encoding="utf8") as f:
    for item in jsonlines.Reader(f):
        df.loc[i] = [item['id'],item['fandoms'][0],item['fandoms'][1],item['pair'][0],item['pair'][1]]
        i += 1

In [12]:
df.head()

,id,fandom1,fandom2,pair1,pair2
0,6cced668-6e51-5212-873c-717f2bc91ce6,Guardians of Ga'Hoole,Hetalia - Axis Powers,"I shift a bit, warily letting my eyes dart fro...","""All will become one with Russia,"" he said, al..."
1,3c6c188a-db28-59aa-8c09-3d0f799ff579,Guardians of Ga'Hoole,Warriors,"I shift a bit, warily letting my eyes dart fro...","Suddenly, a piece of ice falls into the pit of..."
2,b0cfa94f-c9ec-5aa5-8331-a5a249b664cf,Guardians of Ga'Hoole,Xiaolin Showdown,A single tear escaped me as I left. I did have...,"got the Yang yoyo."" Kimiko pulled the other ha..."
3,e6e86e73-9a7b-58f2-a652-a17b4a1bcabf,Hetalia - Axis Powers,Warriors,"""Ja."" Ludwig kept his gaze upon her, solidly. ...",SilverGray lll...YellowRagged llll...GrayMilli...
4,4fe541af-912e-5a86-81a5-94c6d3891509,Hetalia - Axis Powers,Xiaolin Showdown,"And he did. Slowly, hesitantly...but coming fr...","""Let""s go,"" Raimondo said and then started in ..."

In [13]:
df.to_csv('data/data_split.csv', sep=',', header=True, index=False)